# Copyright (c) 2026 Idp Team Automation.
# iDP 协议作者：@该隐；注册机作者：@朴圣佑。
# 二开请保留版权；二开不保留版权，以后写代码都是bug。
f7520105.
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env
artifacts/**
!artifacts/.gitkeep
*.log
.DS_Store
cashelldenetriaharrisebt.